In [1]:
a = stats.randint(1,7)
a.rvs(5) #5 means 5 values will be generated
a.rvs((5,3)) #5 rows 3 columns

NameError: name 'stats' is not defined

# Random Distribution

a.pmf(1) # discrete. probability mass function. Whats the PROBABILITY for getting = 1?
a.pdf(1) # continuous. PROBABILITY

a.cdf(3) # discrete. cumulative distribution function. PROBABILITY for <= 1 ?
a.ppf(0.5) #continuous. percent point function. VALUES that have a chance of <= 0.5 to get?

a.sf(3) # survival function (1-cdf). whats the PROBABILITY of getting >= 3?
a.isf(0.5) #inverse survival function (1-ppf). there is a 0.5 chance a dice roll will be higher than what VALUE?

# Binomial Distribution - each trial is independent

stats.binom(30, .25).sf(10) # 30 is # of trials, 0.25 is success rate per trial
stats.binom(20, .95).pmf(20) # 20 is # of student, 0.95 is sucess rate for being on time

# Normal Distribution 
- continuous random variables; further from mean, lesser the probability
- Standard Normal Distribution: mean = 0 , std = 1

stats.norm(12000, 2000) # 12000 is mean, 2000 is std
stats.norm(12000, 2000).ppf(0.9) # the amount of sales have to be in order to be the top 10%
stats.norm(12000, 2000).isf(0.1) # another way for the top 10%

# Poisson Distribution

- number of events happen over a time period. events are discrete and independent.

stats.poisson(5).pmf(3) # consume ON AVERAGE 5lbs of coffee, what is the probability to consume 3lbs?
stats.poisson(5).sf(7) # whats the probability of consuming more than 7lbs?

# 1
A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

- What is the probability that no cars drive up in the noon hour?
- What is the probability that 3 or more cars come through the drive through?
- How likely is it that the drive through gets at least 1 car?

In [5]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

In [ ]:
#  the probability that no cars drive up in the noon hour?
stats.poisson(2).pmf(0)

In [ ]:
# the probability that 3 or more cars come through the drive through?
stats.poisson(2).sf(3)

In [ ]:
# How likely is it that the drive through gets at least 1 car?
stats.poisson(2).sf(1)

# 2 
Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

- What grade point average is required to be in the top 5% of the graduating class?
- What GPA constitutes the bottom 15% of the class?
- An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?
- If I have a GPA of 3.5, what percentile am I in?

In [ ]:
# What grade point average is required to be in the top 5% of the graduating class?
stats.norm(3, 0.3).isf(0.05)

In [ ]:
# What GPA constitutes the bottom 15% of the class?
stats.norm(3,0.3).isf(0.85)

In [ ]:
# Determine the range of the third decile
print(stats.norm(3,0.3).ppf(0.3))
print(stats.norm(3,0.3).ppf(0.2))

In [ ]:
stats.norm(3,0.3).cdf(3.5)

# 3
A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?

In [5]:
stats.binom(4326,0.02).sf(96)

0.13975823631416448

# 4
You are working on some statistics homework consisting of 100 questions where all of the answers are a 'probability' rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.

What is the probability that at least one of your first 60 answers is correct?

In [10]:
stats.binom(60, 1/101).sf(0)

0.44955038406224

# 5

There's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day? How likely is it that it goes two days without getting cleaned up? All week?

In [11]:
# How likely is it that the break area gets cleaned up each day?
# (0.03)**(3*22*0.9) this means each student will clean the area
1 - ((1-0.03)**(3*22*0.9))
# or
stats.binom(3*22*0.9,0.03).sf(0)

0.8362274861228876

In [12]:
# How likely is it that it goes two days without getting cleaned up?
(1-0.03)**(3*22*0.9*2)
# or 
.pmf(0)

0.026821436301628997

In [13]:
# All week?
(1-0.03)**(3*22*0.9*5)

0.00011781621791055051

# 6
You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [21]:
# convert people to minutes
stats.norm(15*2, 3*2).cdf(33)

0.6914624612740131

# 7
Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

In [14]:
import pandas as pd
import env

url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/employees'  
salary = pd.read_sql('SELECT * FROM salaries where to_date > now()', url)
salary.head()

   emp_no  salary   from_date     to_date
0   10001   88958  2002-06-22  9999-01-01
1   10002   72527  2001-08-02  9999-01-01
2   10003   43311  2001-12-01  9999-01-01
3   10004   74057  2001-11-27  9999-01-01
4   10005   94692  2001-09-09  9999-01-01

In [15]:
salary.salary.describe()

count    240124.000000
mean      72012.235857
std       17309.995380
min       38623.000000
25%       59048.750000
50%       69805.000000
75%       82546.000000
max      158220.000000
Name: salary, dtype: float64

In [16]:
# What percent of employees earn less than 60,000?
stats.norm(salary.salary.mean(), salary.salary.std()).cdf(60000)

0.24385742480214434

In [17]:
# What percent of employees earn more than 95,000?
stats.norm(salary.salary.mean(), salary.salary.std()).sf(95000)

0.09208819199804058

In [ ]:
# What percent of employees earn between 65,000 and 80,000?

In [ ]:
# What do the top 5% of employees make?