In [16]:
# 1. How likely is it that you roll doubles when rolling two dice?

import numpy as np
import pandas as pd

n_trials = nrows = 10**5
n_dices = ncols = 2
outcomes = list(range(1,7))

roll = np.random.choice(outcomes,(nrows,ncols))
roll = pd.DataFrame(roll)
roll.columns = ['first','second']

In [30]:
(roll['first'] == roll['second']).mean()

0.16689

In [39]:
# 2.a If you flip 8 coins, what is the probability of getting exactly 3 heads?
n_coins = ncols = 8
n_trials = nrows = 10**5
outcomes = ['h','t']

coin = np.random.choice(outcomes,(nrows,ncols))
coin = pd.DataFrame(coin)
coin.columns = ['1','2','3','4','5','6','7','8']

In [42]:
(((coin == 'h').sum(axis = 1)) == 3).mean()

0.21976

In [ ]:
# 2.b What is the probability of getting more than 3 heads?

In [43]:
(((coin == 'h').sum(axis = 1)) > 3).mean()

0.63491

#3 There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [44]:
(1/4) * (1/4) # multiplication rule for independent events

0.0625

In [45]:
# another way
p = 0.25
ncol = 2
nrow = 10**5

board = np.random.random((nrow,ncol))

In [50]:
(((board < p).sum(axis = 1)) == 2).mean()

0.06222

In [52]:
# another way
from scipy import stats

stats.binom(2,0.25).pmf(2)

0.0625

In [53]:
# another way
stats.binom(2,0.25).sf(1)

0.0625

#4 
Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal) You'll need to make a judgement call on how to handle some of your values

In [98]:
np.random.normal((15, 1.5))

array([14.70470902,  1.44482808])

In [70]:
stats.norm(15,1.5).cdf(16)

0.7475074624530771

In [71]:
stats.norm(15,1.5).sf(16)

0.2524925375469229

#5
Compare Heights

Men have an average height of 178 cm and standard deviation of 8cm.
Women have a mean of 170, sd = 6cm.
Since you have means and standard deviations, you can use np.random.normal to generate observations.
If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?

In [82]:
(np.random.normal(170, 6) > np.random.normal(178, 8))

False

#6
When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

What is the probability that we observe an installation issue within the first 150 students that download anaconda?

How likely is it that 450 students all download anaconda without an issue?

In [91]:
# What are the odds that after having 50 students download anaconda, 
# no one has an installation issue?
stats.binom(50,249/250).pmf(50)

0.8184024506760997

In [93]:
# 100 students?
stats.binom(100,249/250).pmf(100)

0.6697825712726458

In [94]:
# 150 and issue?
stats.binom(150,1/250).sf(0)

0.4518483022503269

In [95]:
# 450 no issue?
stats.binom(450,249/250).pmf(450)

0.1647032961586129

#7
There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days.

In [106]:
#  How unlikely is this?
p = 0.7
n = 3
sim = 10**5
truck_sim = np.random.random((sim,n))
1-(((truck_sim < p).sum(axis = 1) == 0).mean())

0.9736

In [ ]:
# How likely is it that a food truck will show up sometime this week?

In [105]:
p = 0.7
n = 7
sim = 10**5
truck_sim = np.random.random((sim,n))
((truck_sim < p).sum(axis = 1) != 0).mean()

0.99979

#8
If 23 people are in the same room, what are the odds that two of them share a birthday?

In [21]:
ncol = 23
nrow = 10**5
outcome = list(range(365))
sim = np.random.choice(outcome,(nrow,ncol))

In [29]:
sim = pd.DataFrame(sim)
sim

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,24,29,83,304,142,174,274,165,81,236,...,300,99,306,208,267,8,109,100,202,226
1,35,10,321,149,161,61,238,241,64,319,...,278,218,39,100,16,200,83,28,220,28
2,352,170,76,57,145,286,51,362,180,69,...,273,301,302,129,48,25,357,56,47,45
3,123,47,250,213,343,303,193,101,353,207,...,290,26,118,251,254,182,186,359,55,164
4,89,349,325,245,70,136,58,330,187,29,...,51,181,255,349,295,299,177,108,227,207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,105,137,287,298,86,23,291,192,196,216,...,78,72,46,24,152,91,103,18,308,293
99996,56,251,130,158,354,267,205,316,81,169,...,248,63,348,256,44,129,308,354,121,58
99997,137,209,349,161,70,231,89,122,124,76,...,83,270,226,321,71,199,337,70,238,48
99998,318,271,336,279,154,295,185,8,7,275,...,61,24,130,168,257,59,52,116,348,6
99999,140,113,35,305,121,219,287,32,240,60,...,30,104,149,343,148,209,66,276,198,294

In [41]:
((sim.nunique(axis = 1))==22).mean()

0.3661

In [46]:
ncol = 20
nrow = 10**5
outcome = list(range(365))
sim = np.random.choice(outcome,(nrow,ncol))
sim = pd.DataFrame(sim)
(sim.nunique(axis=1)==19).mean()

0.32394

In [47]:
ncol = 40
nrow = 10**5
outcome = list(range(365))
sim = np.random.choice(outcome,(nrow,ncol))
sim = pd.DataFrame(sim)
(sim.nunique(axis=1)==39).mean()

0.25849

In [35]:
from scipy import stats
stats.binom(23,1/365).pmf(2)

0.0017927250843603835

In [36]:
# What if it's 20 people?
stats.binom(20,1/365).pmf(2)

0.001357441797251752

In [37]:
# 40?
stats.binom(40,1/365).pmf(2)

0.005275123152643251